#recipes {
    padding-top: 30px;
    height: 100vh;
    background-image: $gradient;  
    .container-fluid {
      @extend .header;
      .header {
        @extend .header;
        margin: 50px 0;
        strong {
          @extend .headertitle;
          font-size: $font-size + 7px;
        }
        h3 {
          @extend .header-slogan;
          margin-top: 15px;
        }
      }
      .body {
        display: flex;
        justify-content: center;
        align-items: center;
  
        .card-custom {
          cursor: pointer;
         height: 400px;
          padding: 10px;
          box-shadow: 0px 3px 18px 5px rgb(251, 237, 216);
          @include border-radious(5px, 5px, 5px, 5px);
          .card-custom-header {
            @include flex(flex, center, center);
            overflow: hidden;
            img {
              width: 300px;
              margin: 10px 2px 2px 2px;
              transition: all .3s ease;
              &:hover{
                transform: scale(1.3);
              }
            }
          }
          .card-custom-body {
            margin: 30px 0 10px 0;
            padding: 15px;
            .card-1 {
              margin: 0px 0 20px 0;
              @include flex(flex, space-between, center);
              span:nth-of-type(2) {
                font-size: $font-size + 4px;
                font-weight: 700;
                margin-right: 10px;
              }
              span:nth-of-type(1) {
                  color: #9a9696;
                span {
                  vertical-align: -2px;
                  padding-right: 2px;
                  color: #9a9696;
                  font-size: 20px;
                }
              }
            }
            .card-2 {
              @include flex(flex, space-between, center);
              a{
                padding: 5px 20px;
                background-color: #ebe4e4;
                border-radius: 13px;
                color: gray;
                transition: all .3s ease-in;
                &:hover{
                  box-shadow: $btn-shadow;
                  color: $menu-color;
                }
              }
              span{
                color: #f99408;
      font-size: 22px;
      font-style: italic;
      font-weight: bold;
              }
            }
   
          }
        
      }
      .recipe-btn{
        @extend .long-btn;
        margin: 50px auto;
      }
      }
    }
  }
  @media (max-width: 1200px){
    #recipes{
      margin: 300px 0 1000px 0 !important;
    .body{
      .card-custom{
        margin: auto 30px !important;
      }
      margin: 30px !important;
    }
    
    }
    
  }