a {
  text-decoration: none !important;
  color: #2e2e2e;
}

.button-style, #nav .container .row div.navicons span.search-modal .fade .modal-content a {
  display: block;
  background-color: transparent;
  border: 1px solid #ffaf41;
  padding: 5px 30px;
  background-color: #ffddad;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.button-style:hover, #nav .container .row div.navicons span.search-modal .fade .modal-content a:hover {
  box-shadow: 0px 3px 8px rgba(159, 159, 159, 0.5);
  background-color: #ff9401 !important;
}

.long-btn, #recipes .container-fluid .body .recipe-btn, #about-us .container .row .right-side-none .au-btn {
  display: inline-block;
  margin-top: 30px;
  margin-left: -18px;
  padding: 10px 29px;
  border-radius: 40px;
  color: white;
  background-color: #ff9401 !important;
  border: none;
  transition: all 0.3s ease;
}
.long-btn:hover, #recipes .container-fluid .body .recipe-btn:hover, #about-us .container .row .right-side-none .au-btn:hover {
  background-color: #ffaf41 !important;
}

.headertitle, #testimonial .container .left-side .header P, #testimonial .container .left-side #recipes .container-fluid P, #recipes #testimonial .container .left-side .container-fluid P, #takeaway .container .row .right-side .header p, #takeaway .container .row .right-side #recipes .container-fluid p, #recipes #takeaway .container .row .right-side .container-fluid p, #recipes .container-fluid .header strong, #recipes .container-fluid .container-fluid strong {
  color: #ff9401;
  font-size: 19px;
  font-weight: 600;
}

.header-slogan, #testimonial .container .left-side .header h6, #testimonial .container .left-side #recipes .container-fluid h6, #recipes #testimonial .container .left-side .container-fluid h6, #takeaway .container .row .right-side .header h5, #takeaway .container .row .right-side #recipes .container-fluid h5, #recipes #takeaway .container .row .right-side .container-fluid h5, #recipes .container-fluid .header h3, #recipes .container-fluid .container-fluid h3 {
  font-size: 34px;
  font-weight: 700;
}

.header, #recipes .container-fluid .header, #recipes .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

#nav .container .row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 0 0 0;
}
@media (max-width: 790px) {
  #nav .container .row .nav-pic {
    display: none;
  }
}
#nav .container .row div.navicons span {
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-toggle {
  transition: color 1s ease;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-toggle:hover {
  color: #ff9401 !important;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-toggle::after {
  display: none;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu {
  padding: 10px;
  line-height: 30px;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu .orders a.dropdown-item {
  padding: 15px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ff9401 !important;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu .orders div.order-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu .orders div.order-details .order-name {
  font-size: 19px;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu .orders span.material-symbols-outlined {
  color: #ff9401 !important;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu .orders ul {
  margin: 3px 0 0 3px;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu .orders ul li {
  text-align: left !important;
  direction: ltr;
  padding: 0 0 0 0;
}
#nav .container .row div.navicons span.basket .dropdown .dropdown-menu .orders img {
  width: 114px;
}
#nav .container .row div.navicons span.basket button.buy {
  margin: 10px auto;
  display: block;
  background-color: transparent;
  border: 1px solid #ffaf41;
  padding: 5px 30px;
  background-color: #ffddad;
  transition: all 0.5s ease;
}
#nav .container .row div.navicons span.basket button.buy:hover {
  box-shadow: 0px 3px 8px rgba(159, 159, 159, 0.5);
  background-color: #ff9401 !important;
}
#nav .container .row div.navicons div.dropdown {
  display: inline;
}
@media (min-width: 770px) {
  #nav .container .row div.navicons div.dropdown .dropdown-menu {
    width: 500px;
  }
}
#nav .container .row div.navicons div.dropdown .dropdown-toggle {
  transition: color 1s ease;
}
#nav .container .row div.navicons div.dropdown .dropdown-toggle:hover {
  color: #ff9401 !important;
}
#nav .container .row div.navicons div.dropdown .dropdown-toggle::after {
  display: none;
}
#nav .container .row div.navicons div.dropdown .dropdown-menu {
  overflow: hidden;
  position: absolute;
  padding-top: 30px !important;
}
#nav .container .row div.navicons div.dropdown .dropdown-menu ul {
  margin: -35px 0px 0 0px;
}
#nav .container .row div.navicons div.dropdown .dropdown-menu ul li a {
  padding: 5px 5px !important;
  transition: color 0.5s ease;
  text-align: center !important;
}
#nav .container .row div.navicons div.dropdown .dropdown-menu ul li a:hover {
  color: #ff9401 !important;
}
#nav .container .row div.navicons div.dropdown .dropdown-menu ul li:nth-child(1) a {
  color: #2e2e2e;
  border-bottom: 2px solid #ff9401 !important;
  font-size: 21px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
#nav .container .row div.navicons div.dropdown .dropdown-menu ul li:not(:nth-child(1)) {
  padding: 2px 0 0 10px;
  font-size: 16px;
}
@media (max-width: 770px) {
  #nav .container .row div.navicons div.dropdown .dropdown-menu .container {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  #nav .container .row div.navicons div.dropdown .dropdown-img {
    display: none;
  }
  #nav .container .row div.navicons div.dropdown .dropdown-menu {
    left: -400px;
    text-align: center;
  }
  #nav .container .row div.navicons div.dropdown .dropdown-menu ul {
    margin: 10px 0 0 0;
  }
}
#nav .container .row div.navicons div.dropdown .dropdown-menu.show {
  left: -246px;
  min-width: 375px;
  top: 50px !important;
}
#nav .container .row div.navicons div.dropdown .dropdown-menu.show .dropdown-img {
  position: absolute;
  right: -67px;
  bottom: -66px;
  width: 254px;
}
#nav .container .row div.navicons span.search-modal .modal-btn {
  background-color: transparent;
  border: none;
  outline: 0;
  transition: all 0.5s ease;
}
#nav .container .row div.navicons span.search-modal .modal-btn:hover {
  color: #ff9401 !important;
}
#nav .container .row div.navicons span.search-modal .fade {
  background-color: #ffe0b5;
}
#nav .container .row div.navicons span.search-modal .fade .modal-content {
  border: 0;
}
#nav .container .row div.navicons span.search-modal .fade .modal-content input {
  border: none;
  outline: 0;
}
#nav .container .row div.navicons span.search-modal .fade .modal-content .input-group-append span {
  background-color: white;
  border: none;
}
#nav .container .row div.navicons span.search-modal .fade .modal-content a {
  color: rgb(66, 65, 65);
}
#nav .container .row .nav-pic {
  position: relative;
  max-width: 251px;
  top: -47px;
}
@media (max-width: 540px) {
  #nav .container .row .logo {
    display: none;
  }
}
#nav .container .row div.logo img {
  width: 25px;
  vertical-align: -8px;
}
#nav .container .row div.logo strong {
  font-family: "Playfair Display", serif;
  font-size: 19px;
  color: #2e2e2e;
}

header .container .row .right-side {
  z-index: 1;
  background-color: white;
}
header .container .row .right-side .h-1 {
  border-bottom: 1px solid #ff9401 !important;
  border-radius: 65%;
  position: relative;
  padding: 20px 20px 20px 20px;
  animation: circle-1 2s linear alternate;
}
header .container .row .right-side .h-2 {
  position: absolute;
  top: 428px;
  right: 171px;
  width: 190px;
  transition: 3s linear;
  animation: circle-1 2.1s linear alternate;
}
@keyframes circle-1 {
  100% {
    rotate: 360deg;
  }
}
header .container .row .right-side .h-3 {
  position: absolute;
  top: 346px;
  left: -23px;
  width: 190px;
  animation: circle-1 2.1s linear alternate;
}
header .container .row .right-side .h-4 {
  position: absolute;
  top: 312px;
  right: -66px;
  animation: circle-1 2.1s linear alternate;
}
header .container .row .left-side {
  margin: 100px 0 0 0;
  animation: trans-1 4.3s ease;
  position: relative;
}
header .container .row .left-side .header, header .container .row .left-side #recipes .container-fluid .header, #recipes .container-fluid header .container .row .left-side .header, header .container .row .left-side #recipes .container-fluid, #recipes header .container .row .left-side .container-fluid {
  display: unset;
}
header .container .row .left-side .header .header-title, #recipes .container-fluid header .container .row .left-side .header .header-title, header .container .row .left-side #recipes .container-fluid .header-title, #recipes header .container .row .left-side .container-fluid .header-title {
  font-size: 20px;
  position: relative;
  margin: 0 0 0 10px;
  color: #ff9401 !important;
}
header .container .row .left-side .header .header-title::after, #recipes .container-fluid header .container .row .left-side .header .header-title::after, header .container .row .left-side #recipes .container-fluid .header-title::after, #recipes header .container .row .left-side .container-fluid .header-title::after {
  content: " ";
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: #ff9401 !important;
  top: 21px;
}
header .container .row .left-side .header p, #recipes .container-fluid header .container .row .left-side .header p, header .container .row .left-side #recipes .container-fluid p, #recipes header .container .row .left-side .container-fluid p {
  font-size: 86px;
  font-weight: 800;
  position: relative;
  left: -24px;
}
header .container .row .left-side .header .h-5, #recipes .container-fluid header .container .row .left-side .header .h-5, header .container .row .left-side #recipes .container-fluid .h-5, #recipes header .container .row .left-side .container-fluid .h-5 {
  width: 64px;
  position: absolute;
  top: -84px;
  left: 380px;
}
header .container .row .left-side .header .h-6, #recipes .container-fluid header .container .row .left-side .header .h-6, header .container .row .left-side #recipes .container-fluid .h-6, #recipes header .container .row .left-side .container-fluid .h-6 {
  width: 175px;
  position: absolute;
  top: -102px;
  left: 250px;
}
header .container .row .left-side .header .h-7, #recipes .container-fluid header .container .row .left-side .header .h-7, header .container .row .left-side #recipes .container-fluid .h-7, #recipes header .container .row .left-side .container-fluid .h-7 {
  position: absolute;
  width: 39px;
  left: 352px;
  top: 60px;
}
header .container .row .left-side .header .h-8, #recipes .container-fluid header .container .row .left-side .header .h-8, header .container .row .left-side #recipes .container-fluid .h-8, #recipes header .container .row .left-side .container-fluid .h-8 {
  position: absolute;
  width: 39px;
  left: 394px;
  top: 60px;
}
header .container .row .left-side .body div {
  margin: 0 20px 0 -12px;
  padding: 0 30px 0 0;
  font-size: 14px;
}
header .container .row .left-side .body .header-btn {
  display: inline-block;
  margin-top: 30px;
  margin-left: -18px;
  padding: 10px 29px;
  border-radius: 40px;
  color: white;
  background-color: #ff9401 !important;
  border: none;
  transition: all 0.3s ease;
}
header .container .row .left-side .body .header-btn:hover {
  background-color: #ffaf41 !important;
}
header .container .row .left-side .body .social-icons {
  margin-top: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}
header .container .row .left-side .body .social-icons a {
  margin: 10px;
  transition: all 0.3s ease-in;
}
header .container .row .left-side .body .social-icons a:hover {
  color: #ff9401 !important;
}

@media (max-width: 1200px) {
  .h-2,
  .h-3,
  .h-4,
  header.right-side {
    display: none;
  }
  .h-1 {
    width: 300px !important;
  }
  @keyframes circle-1 {
    100% {
      rotate: 0deg;
    }
  }
  .left-side {
    padding: 10px 61px;
  }
}
@media (max-width: 768px) {
  .slogan {
    display: none;
  }
}
@keyframes trans-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#about-us {
  margin-top: 100px;
  padding-top: 50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(247, 244, 239) 100%);
  height: 100vh;
}
#about-us .container .row .right-side-none {
  padding: 10px 0 0 65px;
}
#about-us .container .row .right-side-none .about-us-text p:nth-child(1) {
  font-size: 24px;
  color: #ff9401 !important;
  margin-bottom: 34px;
  font-weight: 600;
}
#about-us .container .row .right-side-none .about-us-text p:nth-child(2) {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 34px;
}
#about-us .container .row .right-side-none .about-us-text p:nth-child(3) {
  font-weight: 450;
  margin-bottom: 34px;
  line-height: 32px;
  width: 400px;
  text-align: right;
}
#about-us .container .row .left-side-none {
  position: relative;
}
#about-us .container .row .left-side-none .au-1 {
  position: absolute;
  z-index: 1;
  left: 3px;
  filter: drop-shadow(2px 4px 6px rgba(255, 148, 1, 0.5098039216));
}
#about-us .container .row .left-side-none .au-2 {
  position: absolute;
  left: 28px;
  top: 19px;
}
#about-us .container .row .left-side-none .au-2 .au-3 {
  position: absolute;
  left: 9px;
}

@media (max-width: 768px) {
  #about-us {
    display: none;
  }
}
#features {
  margin: 100px 0 100px 0;
}
#features .header, #features #recipes .container-fluid .header, #recipes .container-fluid #features .header, #features #recipes .container-fluid, #recipes #features .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 32px;
  align-items: center;
}
#features .header strong, #recipes .container-fluid #features .header strong, #features #recipes .container-fluid strong, #recipes #features .container-fluid strong {
  color: #ff9401 !important;
  font-size: 23px;
}
#features .header h2, #recipes .container-fluid #features .header h2, #features #recipes .container-fluid h2, #recipes #features .container-fluid h2 {
  font-size: 34px;
  font-weight: 700;
}
#features .cards-wrapper .cards {
  margin: 70px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#features .cards-wrapper .cards .cards-header p {
  font-size: 16px;
  font-weight: 800;
  margin: 40px auto 15px auto;
}
#features .cards-wrapper .cards .cards-body p {
  padding: 0 10px;
  text-align: center !important;
  font-size: 19px;
}

#recipes {
  padding-top: 30px;
  height: 100vh;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 250, 243) 100%);
}
#recipes .container-fluid .header, #recipes .container-fluid .container-fluid {
  margin: 50px 0;
}
#recipes .container-fluid .header strong, #recipes .container-fluid .container-fluid strong {
  font-size: 23px;
}
#recipes .container-fluid .header h3, #recipes .container-fluid .container-fluid h3 {
  margin-top: 15px;
}
#recipes .container-fluid .body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#recipes .container-fluid .body .card-custom {
  cursor: pointer;
  height: 400px;
  padding: 10px;
  box-shadow: 0px 3px 18px 5px rgb(251, 237, 216);
  border-radius: 5px 5px 5px 5px;
}
#recipes .container-fluid .body .card-custom .card-custom-header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#recipes .container-fluid .body .card-custom .card-custom-header img {
  width: 300px;
  margin: 10px 2px 2px 2px;
  transition: all 0.3s ease;
}
#recipes .container-fluid .body .card-custom .card-custom-header img:hover {
  transform: scale(1.3);
}
#recipes .container-fluid .body .card-custom .card-custom-body {
  margin: 30px 0 10px 0;
  padding: 15px;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-1 {
  margin: 0px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-1 span:nth-of-type(2) {
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-1 span:nth-of-type(1) {
  color: #9a9696;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-1 span:nth-of-type(1) span {
  vertical-align: -2px;
  padding-right: 2px;
  color: #9a9696;
  font-size: 20px;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-2 a {
  padding: 5px 20px;
  background-color: #ebe4e4;
  border-radius: 13px;
  color: gray;
  transition: all 0.3s ease-in;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-2 a:hover {
  box-shadow: 0px 3px 8px rgba(159, 159, 159, 0.5);
  color: #ff9401 !important;
}
#recipes .container-fluid .body .card-custom .card-custom-body .card-2 span {
  color: #f99408;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
#recipes .container-fluid .body .recipe-btn {
  margin: 50px auto;
}

@media (max-width: 1200px) {
  #recipes {
    margin: 300px 0 1000px 0 !important;
  }
  #recipes .body {
    margin: 30px !important;
  }
  #recipes .body .card-custom {
    margin: auto 30px !important;
  }
}
#takeaway {
  margin-top: 300px;
}
#takeaway .container .row .right-side .header, #takeaway .container .row .right-side #recipes .container-fluid, #recipes #takeaway .container .row .right-side .container-fluid {
  display: unset;
}
#takeaway .container .row .right-side .header p, #takeaway .container .row .right-side #recipes .container-fluid p, #recipes #takeaway .container .row .right-side .container-fluid p {
  margin-bottom: 20px;
}
#takeaway .container .row .right-side .header h5, #takeaway .container .row .right-side #recipes .container-fluid h5, #recipes #takeaway .container .row .right-side .container-fluid h5 {
  padding: 0 30px 20px 0;
}
#takeaway .container .row .right-side .ta-btn {
  margin: 50px 3px;
  background-color: black;
  color: white;
  padding: 2px 35px;
  border-radius: 8px;
  box-shadow: 7px 8px 14px rgba(205, 199, 199, 0.5);
  transition: all 0.3s ease-in;
}
#takeaway .container .row .right-side .ta-btn:hover {
  background-color: #909090;
  outline: none;
  border: 0;
}
#takeaway .container .row .right-side .ta-btn p {
  font-size: 10px;
  padding: 9px 0px 0 49px;
  line-height: 1px;
}
#takeaway .container .row .right-side .ta-btn i {
  font-size: 50px;
  vertical-align: -7px;
}
#takeaway .container .row .right-side .ta-btn b {
  padding: 0 0 0 10px;
  font-size: 20px;
}
#takeaway .container .row .right-side .ta-btn-2 {
  background-color: white;
  outline: none;
  border: 1px solid white;
  color: black !important;
}
#takeaway .container .row .right-side .ta-btn-2:hover {
  background-color: rgb(250, 250, 250);
}
#takeaway .container .row .left-side {
  position: relative;
}
#takeaway .container .row .left-side img {
  position: absolute;
}
#takeaway .container .row .left-side .ta-1 {
  left: 170px;
  top: -87px;
  z-index: 2;
}
#takeaway .container .row .left-side .ta-2 {
  right: 183px;
  top: -30px;
  z-index: 1;
}
#takeaway .container .row .left-side .ta-3 {
  right: 103px;
  top: -89px;
}

@media (max-width: 1200px) {
  #takeaway {
    margin-top: 1054px;
    margin-bottom: 200px;
  }
  #takeaway .left-side {
    display: none;
  }
}
#testimonial {
  margin: 300px 0 300px 0;
}
#testimonial .container .row {
  z-index: 1;
}
#testimonial .container .row .right-side {
  position: relative;
}
#testimonial .container .row .right-side img {
  position: absolute;
}
#testimonial .container .row .right-side .tes-1 {
  width: 400px;
  left: 341px;
  z-index: 2;
  filter: drop-shadow(2px 4px 6px rgba(255, 148, 1, 0.5098039216));
}
#testimonial .container .row .right-side .tes-3 {
  left: 100px;
  width: 500px;
  filter: drop-shadow(2px 4px 6px rgba(255, 148, 1, 0.5098039216));
}
#testimonial .container .row .right-side .tes-2 {
  width: 399px;
  left: 147px;
  top: 35px;
  z-index: 1;
}
#testimonial .container .left-side {
  margin: 100px 0 20px 0;
  padding: 0 100px 0 60px;
}
#testimonial .container .left-side .header, #testimonial .container .left-side #recipes .container-fluid, #recipes #testimonial .container .left-side .container-fluid {
  display: unset;
}
#testimonial .container .left-side .header h6, #testimonial .container .left-side #recipes .container-fluid h6, #recipes #testimonial .container .left-side .container-fluid h6 {
  margin: 20px auto;
}
#testimonial .container .left-side .body .comment {
  font-style: italic;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  margin: 40px 0;
  line-height: 30px;
  font-size: 18px;
}
#testimonial .container .left-side .body .commentor {
  font-weight: 600px;
  font-size: 24px;
}

@media (max-width: 1200px) {
  #testimonial .right-side {
    display: none;
  }
}
footer {
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 250, 243) 100%);
  padding: 40px 10px;
  position: relative;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer ul li:nth-child(1) {
  font-size: 18px;
  font-weight: 550;
}
footer li {
  padding: 10px;
}
footer li a {
  transition: all 0.3s ease;
  position: relative;
}
footer li a:hover {
  color: #ff9401 !important;
  padding-right: 30px;
}
footer .logo img {
  width: 30px;
}
footer .logo strong {
  font-weight: bold !important;
}
footer .foo-1 {
  position: absolute;
  right: 70%;
  width: 100px;
  top: -7px;
}/*# sourceMappingURL=stylepage.css.map */